/* Logo + background */

.logo-container {
    padding-top: 60px;
    background-image:url("../img/pattern.png");
    background-color: rgb(91, 151, 254);
    background-size: 37%;
    background-position-x: 10%;
}

.logo-container img {
    height: 50px;
}



/* title + caption */

h1 {
    margin-bottom: 0px;
}

p {
    margin: 0;
}

.caption {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(91, 151, 254);
}



/* images container */

.image-container {
    margin-top: 20px;
}