.logo-container {
    padding-top: 60px;
    background-image:url("../img/pattern.png");
    background-color: rgb(91, 151, 254);
    background-size: 37%;
    background-position-x: 10%;
}

.logo-container img {
    height: 50px;
}